/* COLORS */

$color-black: #000;
$color-primary: #171717;
$color-primary-dark: #212121;
$color-primary-dark-1: #0c0c0c;
$color-primary-dark-2: #191919;
$color-secondary: #FFF;
$color-secondary-light: #F5F5F5;

$color-grey-light-1: #EEEEEE;
$color-grey-dark-1: #707070;
$color-grey-dark-2: #636363;
$color-grey-dark-3: #4B4B4B;
$color-grey-dark-4: #383838;

$font-primary: 'Libre Franklin';

// GRID
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;