doctype html
html(lang='en')
    head
        //- Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        //- Title
        title Default
        //- Font Awesome
        link(rel="stylesheet" href="css/fontawesome-all.css")
        //- Bootstrap CSS
        //- link(rel="stylesheet" href="css/bootstrap.min.css")
        //- Stylesheet
        link(rel="stylesheet" href="css/main.css")

    body

        //- Wrapper
        section.wrapper
            //- Logo
            //- svg(id="Layer_2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2.4" data-class='home')
            //-     circle(class="cls-1" cx="1.2" cy="0.8" r="0.8")
            //-     polyline(class="cls-2" points="0.1 1.6 0.4 0.5 0.8 1.8 1.2 0.5 1.9 2.3")
            //- Home 
            section.home
                //- Home Intro
                h2.h1.home__intro
                    .clip-it.clip-it-big
                        span.heading-main.ml-x2 Hi, I'm <span class='joker'>Joker</span>
                            span.heading-main__line
                    .clip-it.clip-it-small 
                        q.home__quote I love graphic design
                            span.home__quote-line
                        |
                //- Attributes Componenets
                .circle.circle--big
                .circle.circle--small
                .side-word Index
                .page-label Home
                img(class='home__img img-fluid' alt='Joker' src='images/joker.jpg')

            //- About 
            section.about
                //- Overlay
                .overlay
                //- SVG TEXT
                .svg
                    svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 589.92 51.84" style="enable-background:new 0 0 589.92 51.84;" xml:space="preserve" class='svg--1')
                        text(transform="matrix(1 0 0 1 5.2854 46.0478)" class="svg__svg-text svg__svg-text-1") You don’t know me
                    svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 589.92 51.84" style="enable-background:new 0 0 589.92 51.84;" xml:space="preserve" class='svg--2')
                        text(transform="matrix(1 0 0 1 5.2854 46.0478)" class="svg__svg-text svg__svg-text-2") You don’t know me
                    svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 589.92 51.84" style="enable-background:new 0 0 589.92 51.84;" xml:space="preserve" class='svg--3')
                        text(transform="matrix(1 0 0 1 5.2854 46.0478)" class="svg__svg-text svg__svg-text-3") You don’t know me
                //- Storytelling about
                .about__story
                    .about__story-window
                        ul.list-unstyled.about__story-left
                            li 
                                //- Logo
                                svg(id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2.4")
                                    circle(class="cls-1" cx="1.2" cy="0.8" r="0.8")
                                    polyline(class="cls-2" points="0.1 1.6 0.4 0.5 0.8 1.8 1.2 0.5 1.9 2.3")
                        ul.list-unstyled.about__story-right
                            li 
                                h3.heading-primary Who is Joker?
                                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus veniam modi pariatur placeat. Molestiae blanditiis cupiditate vitae ipsa, eveniet, expedita eum soluta quo optio assumenda et laborum, sint magni?
                                h3.heading-primary My Skills
                                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus veniam modi pariatur placeat. Molestiae blanditiis cupiditate vitae ipsa, eveniet, expedita eum soluta quo optio assumenda et laborum, sint magni?
                                h3.heading-primary History
                                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus veniam modi pariatur placeat. Molestiae blanditiis cupiditate vitae ipsa, eveniet, expedita eum soluta quo optio assumenda et laborum, sint magni?
                                h3.heading-primary Why me
                                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus veniam modi pariatur placeat. Molestiae blanditiis cupiditate vitae ipsa, eveniet, expedita eum soluta quo optio assumenda et laborum, sint magni?
                                h3.heading-primary Education
                                p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus veniam modi pariatur placeat. Molestiae blanditiis cupiditate vitae ipsa, eveniet, expedita eum soluta quo optio assumenda et laborum, sint magni?
                //- Attributes Componenets
                .circle.circle--big
                .circle.circle--small
                .side-word About
                .page-label About
                .scroll-down
                    .scroll-down-trigger Scroll Down

            //- Projects 
            section.projects
                //- Projects Content
                //- 3D Modeling Content
                .heading-wrapper
                    h2.heading-sub.3d.mt-x3.mb-x3 3D Modeling
                        span.heading-sub__line
                //- Project Row
                .row
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-1')
                        .project__image
                            img(src='images/3d/1.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Iron Man v3
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-2')
                        .project__image
                            img(src='images/3d/2.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Earth
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-2')
                        .project__image
                            img(src='images/3d/3.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Anton Ego
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-2')
                        .project__image
                            img(src='images/3d/4.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span The Incredibles
                                .project__shp
                //- Illustrations Content
                .heading-wrapper
                    h2.heading-sub.il.mt-x3.mb-x3 Illustrations
                        span.heading-sub__line
                //- Project Row
                .row
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-3')
                        .project__image
                            img(src='images/il/1.png', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Art
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-4')
                        .project__image
                            img(src='images/il/2.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Pure Soul
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-4')
                        .project__image
                            img(src='images/il/3.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Egypt At Night
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-4')
                        .project__image
                            img(src='images/il/4.webp', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Thinking
                                .project__shp
                //- Logo Design Content
                .heading-wrapper
                    h2.heading-sub.ld.mt-x3.mb-x3 Logo Design
                        span.heading-sub__line
                //- Project Row
                .row
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-5')
                        .project__image
                            img(src='images/ld/1.png', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Safyireal Estate
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-5')
                        .project__image
                            img(src='images/ld/2.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Lion
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-5')
                        .project__image
                            img(src='images/ld/3.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Floura
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-6')
                        .project__image
                            img(src='images/ld/4.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Reaching Dreams
                                .project__shp
                //- Character Design Content
                .heading-wrapper
                    h2.heading-sub.cd.mt-x3.mb-x3 Character Design
                        span.heading-sub__line
                //- Project Row
                .row
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-7')
                        .project__image
                            img(src='images/cd/1.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Senna
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-7')
                        .project__image
                            img(src='images/cd/2.png', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Creepy
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-7')
                        .project__image
                            img(src='images/cd/3.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Warriors
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-8')
                        .project__image
                            img(src='images/cd/4.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Remo
                                .project__shp
                //- Vector Art Content
                .heading-wrapper
                    h2.heading-sub.va.mt-x3.mb-x3 Vector Art
                        span.heading-sub__line
                //- Project Row
                .row
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-9')
                        .project__image
                            img(src='images/va/1.webp', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Jack
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-9')
                        .project__image
                            img(src='images/va/2.png', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Xayah
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-9')
                        .project__image
                            img(src='images/va/3.jpg', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span elen
                                .project__shp
                    //- Project COL
                    .project.col-6(data-from='{x: 0, y: 0}' data-to='{x: 0, y: -60}' data-class='project-10')
                        .project__image
                            img(src='images/va/4.png', alt='Proj1', class='img-fluid')
                            .project__layer
                            .project__glare
                            .project__name 
                                span Micheal
                                .project__shp
                //- Attributes Componenets
                .circle.circle--big
                .circle.circle--small
                .slider
                    ul.slider__list.list-unstyled
                        li.slider__item.active(data-class='3d') 3D.
                        li.slider__item(data-class='il') IL.
                        li.slider__item(data-class='ld') LD.
                        li.slider__item(data-class='cd') CD.
                        li.slider__item(data-class='va') VA.
                        span.slider__line
                        span.slider__line-active
                .page-label Projects
                //- Pro[s]
                //- Project 1
                .pro
                    span.close &times;
                    .project-1
                        .project-1__main-image.m-x5
                            img(src='images/3d/2.jpg' class='img-fluid' alt='Project 1 Main Image')
                        .container 
                            p.paragraph-secondary Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum porro optio omnis nemo! Eius expedita corrupti ab modi pariatur quos, placeat quasi provident et necessitatibus dolorum repudiandae officia eos commodi!
                        .project-1__slider.project-1__slider--1.m-x5
                        .project-1__sub-image.m-x5
                            img(src='images/ld/1.png' class='img-fluid' alt='Project 1 Main Image')
                        .container 
                            p.paragraph-secondary Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum porro optio omnis nemo! Eius expedita corrupti ab modi pariatur quos, placeat quasi provident et necessitatibus dolorum repudiandae officia eos commodi!
                        .project-1__attr-image--1.m-x5
                            img(src='images/ld/2.jpg' class='img-fluid' alt='Project 1 Main Image')
                        .project-1__slider.project-1__slider--2.m-x5
                        .project-1__attr-image--2.m-x5
                            img(src='images/va/1.webp' class='img-fluid' alt='Project 1 Main Image')
                        .project-1__attr-image--3.m-x5
                            img(src='images/va/2.png' class='img-fluid' alt='Project 1 Main Image')
            //- Hire 
            section.hire
                .hire__wrapper
                    h1.heading-secondary Contact with me
                    h3.heading-tertiary Joker@gmail.com
                    ul.list-unstyled.gooey
                        li.gooey__item
                            svg.gooey__icon
                                //- NOTICE: xlink:href only works on web server
                                use(xlink:href='images/sprite.svg#icon-facebook')
                        li.gooey__item
                            svg.gooey__icon
                                use(xlink:href='images/sprite.svg#icon-behance')
                        li.gooey__item
                            svg.gooey__icon
                                use(xlink:href='images/sprite.svg#icon-artstation')
                        li.gooey__item
                            svg.gooey__icon
                                use(xlink:href='images/sprite.svg#icon-dribbble')
                        

                //- Attributes Componenets
                .circle.circle--big
                .circle.circle--small
                .side-word Hire
                .page-label Hire

            //- Navigation 
            ul.list-unstyled.navigation
                li.navigation__item(data-class='about')
                    span.navigation__item--up About
                    span.navigation__item--down About
                li.navigation__item(data-class='projects')
                    span.navigation__item--up Projects
                    span.navigation__item--down Projects
                li.navigation__item(data-class='hire')
                    span.navigation__item--up Hire
                    span.navigation__item--down Hire
            //- Mob Navigation
            .mob-navigation
                i.fa.fa-bars
        //- Transitions
        .transition.transition--1
            span M
        .transition.transition--2
            span E
        |   

        //- Audio
        audio(src='audio/PunchBrothersJulep.mp3' id='audio' loop='true' autoplay muted)
        .audio-overlay
            p press "P" to toggle the audio &amp; <span>"&uarr;"</span> to volume up, <span>"&darr;"</span> to volume down
        //- SVG
        //- Wavy
        svg(width='100%' height='100%' id='feFilters')
            filter#turb
                feTurbulence(baseFrequency='0.08 0.04' result='turb-fi' id='turbulence')
                feDisplacementMap(xChannelSelector='R' yChannelSelector='G' in='SourceGraphic' in2='turb-fi' scale='10')
        //- Pro
        svg(width='100%' height='100%' id='pro')
            filter#proo
                feTurbulence(baseFrequency='0 0' result='turb-pr' id='turbulencepro')
                feDisplacementMap(xChannelSelector='R' yChannelSelector='G' in='SourceGraphic' in2='turb-pr' scale='10')
        //- Gooey
        svg#goo
            filter#gooey
                feGaussianBlur(in='SourceGraphic' stdDeviation='10')
                feColorMatrix(in='name' mode='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 30 -15')
                feBlend(in='SourceGraphic')
        //- Cursor
        //- span.cursor

        //- Optional JavaScript
        //- jQuery first, then Popper.js, then Bootstrap JS
        script(src='js/jquery-3.1.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js')
        script(src='js/popper.min.js')
        //- script(src='js/bootstrap.min.js')
        script(src='js/plugins.js')
